{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/quotes": [1, "double"],
    "indent": [1, 2],
    "semi": [1, "always"],
    "@typescript-eslint/no-empty-function": ["warn"],
    "no-empty": "warn"
  }
}