:root {
  --secondary: #6ec6ff !important;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--light) !important;
}

.material-icons {
  vertical-align: middle !important;
}

.search-bar {
  display: grid;
}

.search-bar button {
  display: none;
}

.search-bar.active {
  grid-template-columns: 1fr auto;
}

.search-bar.active button {
  display: block;
}

.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-height: 70vh;
}

.modal .modal-footer {
  justify-content: center;
}